<h1><%= @task.title %></h1>
<div>
    <%= @task.details %> <br>
    <%= check_box_tag :completed, 1, @task.completed, disabled: true %>
    <%= @check %>
  <p>
    <%= link_to 'Edit this task', edit_task_path(@task) %>
  </p>
  <%= link_to 'Back to list', root_path %>
</div>
